:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    background: var(--dark-cyan);
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::before {
    content: "";
    background: url(./images/bg-pattern-top.svg);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -50%;
    left: 0;
    background-repeat: no-repeat;
    z-index: -1;
}

body::after {
    content: "";
    background: url(./images/bg-pattern-bottom.svg);
    position: fixed;
    bottom: -50%;
    left: 60%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

main {
    flex: 1;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

section {
    width: 90%;
    max-width: 450px;
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.pattern img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info img {
    border-radius: 50%;
    transform: translateY(-50%);
    border: 5px solid white;
    display: block;
    margin: auto;
}

.identity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: -1.5rem;
}

.name {
    font-size: 18px;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.age {
    font-size: 18px;
    font-weight: 400;
    color: var(--dark-gray);
}

.region {
    text-align: center;
    color: var(--dark-grayish-blue);
    margin: 6px 0;
    font-size: 14px;
}

.stats__container {
    margin: 2rem auto 0;
    border-top: 1px solid hsla(0, 0%, 59%, 0.288);
}

.stats {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.stats__data {
    text-align: center;
}

.stats__data .count {
    font-size: 18px;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}

.stats__data .heading {
    font-size: 12px;
    font-weight: 400;
    color: var(--dark-grayish-blue);
    letter-spacing: 1.5px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 12px;
    color: whitesmoke;
}

footer a {
    color: white;
}
